@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

@font-face {
  font-family: "Rubik 80s Fade";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/rubik-80s-fade.ttf") format("truetype");
}

.neon-text {
  color: white;
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff;
  filter: 
    drop-shadow(0 0 60px #fff);
}

h1,
.logo-font {
  font-family: "Rubik 80s Fade", cursive;
}

.shadow {
  box-shadow: 0px -0.8px 1.1px hsl(0deg 0% 0% / 0.13),
    -0.1px -13.6px 19.3px -0.1px hsl(0deg 0% 0% / 0.29),
    -0.2px -25.7px 36.4px -0.2px hsl(0deg 0% 0% / 0.45),
    -0.4px -42.6px 60.4px -0.3px hsl(0deg 0% 0% / 0.6),
    -0.6px -69.5px 98.5px -0.4px hsl(0deg 0% 0% / 0.76),
    -1px -111.8px 158.5px -0.5px hsl(0deg 0% 0% / 0.92);
}

.inset-shadow {
  box-shadow: inset 1px -1px 1.6px hsl(0deg 0% 59% / 0.63),
    inset 9.9px -9.9px 15.4px -0.7px hsl(0deg 0% 59% / 0.61),
    inset 24.2px -24.2px 37.7px -1.3px hsl(0deg 0% 59% / 0.6),
    inset 54.2px -54.2px 84.5px -2px hsl(0deg 0% 59% / 0.58),
    inset 110px -110px 171.5px -2.7px hsl(0deg 0% 59% / 0.57);
  transition: box-shadow 0.3s ease;
}

.inset-shadow:hover {
  box-shadow: none;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
